{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-rating:pyfb_rating_customerprefixrate_list' %}">CustomerPrefixRate Listing</a></p>
<table class="table">
<tr><td>prefix</td><td>{{ object.prefix }}</td></tr>
<tr><td>destnum_length</td><td>{{ object.destnum_length }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit CustomerPrefixRate</a>

{% endblock %}
